{
margin:0px ;
padding:0px;
}
.blok-menu1 
{
font: 20px Verdana, Arial, Helvetica, sans-serif;
color:#ffffff;
overflow: hidden;
background: #5b5f7a;
box-shadow: 0px 13px 17px -6px #45455c;
text-align: left;

}
.blok-menu2 
{
font: 15px Verdana, Arial, Helvetica, sans-serif;
color:#ffffff;
overflow: hidden;
background: #45455c;
box-shadow: 0px 13px 17px -6px #577095;
padding: 0px;
margin-leftt: 1400px;
text-align: center;

}
.blok-menu3 
{
font: 15px Verdana, Arial, Helvetica, sans-serif;
color:#ffffff;
overflow: hidden;
background: #577095;
box-shadow: 0px 13px 17px -6px #2678db;
padding: 0px;
margin-leftt: 1400px;
text-align: center;
}
.blok-menu4 
{
font: 15px Verdana, Arial, Helvetica, sans-serif;
color:#ffffff;
overflow: hidden;
background: #7793b5;
box-shadow: 0px 13px 17px -6px #98bdd7;
padding: 0px;
margin-leftt: 1400px;
text-align: center;
}
.blok-menu5 
{
font: 15px Verdana, Arial, Helvetica, sans-serif;
color:#ffffff;
overflow: hidden;
background: #98bdd7;
box-shadow: 0px 13px 17px -6px #b8d8e3;
padding: 0px;
margin-leftt: 1500px;
text-align: center;
}


.logo
{
margin:0 auto;
width: 300px;
margin-top:20px;
margin-bottom: 20px;
margin - left: 10px;
}

.logo img
{
-moz-border-radius: 200px; /* Firefox */
-webkit-border-radius: 200px; /* Safari, Google Chrome */
-khtml-border-radius: 200px; /* KHTML */
-o-border-radius: 200px; /* Opera */
-ms-border-radius: 200px; /* IE8 */
-icab-border-radius: 200px; /* Icab */
border-radius: 200px; /* CSS3 */
}
.content 
{
width:300px;
margin:center;
padding:10px;
box-shadow: 0px 13px 17px -6px #577095;

}
 
 .content p
{
font: 18px Verdana, Arial, Helvetica, sans-serif;
color:#444;
text-indent:15px;
}
 
.footer
{
width:100%;
text-align:center;
margin-top:50px;
}

 
